<div data-controller="hello">Hello</div>
<div data-controller="flash">Hello</div>

<h1>这是测试页面</h1>

<div data-controller="flash">
  <%= button_to "点击我打招呼", greet_path, method: :get, class: "btn btn-primary" %>
</div>