<div id="like_button_<%= post.id %>">
  <div class="d-flex align-items-center mb-3">
    <span class="me-2">❤️ <%= post.likes.count %> Likes</span>

    <% if current_user %>
      <% if post.liked_by?(current_user) %>
        <% like = post.likes.find_by(user: current_user) %>
        <%= button_to "Unlike", post_like_path(post, like), method: :delete, data: { turbo_stream: true }, class: "btn btn-sm btn-danger" %>
      <% else %>
        <%= button_to "Like", post_likes_path(post), method: :post, data: { turbo_stream: true }, class: "btn btn-sm btn-outline-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
